<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
                th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <section>
        <h2>this is about section</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus earum quaerat, error voluptas doloribus corporis maxime maiores vel quibusdam. Dolores, consequuntur fuga! Dolorum odio quibusdam repudiandae! Nemo non dolore praesentium sed, beatae molestias iure excepturi quam natus ex similique dolorem asperiores possimus recusandae ratione obcaecati facilis voluptatum, error assumenda corporis!</p>
    </section>
</body>
</html>