<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head th:insert="include/bootheader.html">	
</head>

<head>
  <!-- <link rel="stylesheet" href="Style/style.css"> -->
  <title>Login</title>
</head>
<style>
    .login-box{
        width: 500px;
        /* border: 1px solid black; */
        margin: auto;
    }
    input{
        width: 100%;
    }
    button{
      margin: 15px 0 15px 0;
    }
</style>

<body>
  <h1 style="text-align: center; margin: 200px 0 35px 0;">Login</h1>
    <div class="login-box">
      <form method="post" th:action="@{/login}">
        <div class="form-group">
          <p style="text-align: center;" th:if="${msg != null}" th:text="${msg}"></p><br>
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="emailId" required>
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
        </div>
        <!-- <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
      <a href="/register">register</a>
    </div>
</body>
</html>