<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
                th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <section>
      <!--================================
      =            Page Title            =
      =================================-->
      <section class="page-title">
        <!-- Container Start -->
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
              <!-- Title text -->
              <h3>About Us</h3>
            </div>
          </div>
        </div>
        <!-- Container End -->
      </section>

      <section class="section">
        <div class="container">
          <div class="row text-center">
            <!-- <div class="col-lg-6">
              <div class="about-img">
                <img src="images/about/about.jpg" class="img-fluid w-100 rounded" alt="">
              </div>
            </div> -->
            <div class="col-lg-12 pt-5 pt-lg-0">
              <div class="about-content">
                <h3 class="font-weight-bold">Introduction</h3>
                <p>This is about Page</p>
                <h3 class="font-weight-bold pt-5 ">How we can help</h3>
                <p>Give people ease to book venue online from their couch</p>
              </div>
            </div>
          </div>
        </div>
      </section>

    </section>
</body>
</html>