<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
                th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <section class="login py-5 border-top-1" style="min-height: 800px;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
              <div class="border">
                <h3 class="bg-gray p-4">Password Reset</h3>
                <form method="post" th:action="@{/passwordreset}">
                    <p class="alert alert-warning" role="alert" th:if="${msg != null}" th:text="${msg}"></p>
                  <fieldset class="p-4">
                    <input name="opassword" class="form-control mb-3" type="text" placeholder="Enter previous password" required>
                    <input name="npassword" class="form-control mb-3" type="text" placeholder="Enter new password" required>
                    <input name="cpassword" class="form-control mb-3" type="text" placeholder="Enter confirm password" required>
                    
                    <button type="submit" class="btn btn-primary font-weight-bold mt-3">Reset</button><br>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>